{% extends 'accident/base.html'%}

{%  block content %}
<style>  
    body{
     background: url("/static/accident/shadow5.jpg") 50% 0 no-repeat fixed;
     background-position:center;
     background-attachment:fixed; 
     background-repeat: no-repeat;
     background-size: cover;
    } 
 </style>
<br>
<div class="container my-4">
   
    <div class="row">
        <div class=" col-md-8 offset-2">
            <form class="d-flex" method="POST" action="{% url 'search_users' %}">
            {% csrf_token %}
                    <input class="form-control me-2" aria-label="Search" type="search" placeholder="" name="searched"><button class="btn btn-dark btn-lg" type="submit">Search</button>   
            </form>
        </div>
    </div>
</div>
{% if searched %}
<h1> You Searched for {{ searched }} </h1>
<br/>
{% for m in users %}
<div style="border: 2px;background-color: rgba(240, 248, 255, 0.555);">
<img src="{{ m.accident_image.url }}"  style="width:25%;height:25%;border: 2px solid;"> 
<br><br>
<p><b>Name of the Civilian:</b>  &nbsp;&nbsp;  {{m.form_filler_name}}</p>
<p><b>Civilian Mobile No.</b>  &nbsp;&nbsp;  {{m.mobile_no}}</p>
<p><b>Victim Number_Plate:</b>  &nbsp;&nbsp;  {{m.accident_vehicle_number}}</p>
<p><b>Accident location:</b>  &nbsp;&nbsp;  {{m.location_link}}</p>
</div>
<br>
<br/>
{% endfor%}

{% else %}
<h1> Hey! You forget to search for a User.. </h1>

{% endif %}

{% endblock %}


