{% extends 'accident/base.html'%}

{%  block content %}
<body> 
	<style>  
  body{
   background: url("/static/accident/shadow5.jpg") 50% 0 no-repeat fixed;
   background-position:center;
   background-attachment:fixed; 
   background-repeat: no-repeat;
   background-size: cover;
  } 
</style>
<br>
<h1>Driver details</h1>
<br>
<h2>{{error}}</h2>

<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{user}}" disabled>
    <br>
    <label for="full-name">Full name:</label>
    <input type="text" id="full-name" name="full-name" required>
    <br>    
    <label for="mobile-no">Mobile no. :</label>
    <input type="text" id="mobile-no" name="mobile-no" maxlength="10" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="img">Upload image:</label>
    <input type="file" id="img" name="img" accept="image/*" required>
    <br>
    <label for="vehicle-number-plate">Vehicle number plate:</label>
    <input type="text" id="vehicle-number-plate" name="vehicle-number-plate" required>
    <br>
    <label for="address">Address:</label>
    <textarea id="address" name="address" required></textarea>
    <br>
    <label for="blood-group">Blood group:</label>
    <input type="text" id="blood-group" name="blood-group" required>
    <br>
    <label for="emergency-no-1">Emergency no. 1:</label>
    <input type="text" id="emergency-no-1" name="emergency-no-1" required>
    <br>
    <label for="emergency-no-2">Emergency no. 2:</label>
    <input type="text" id="emergency-no-2" name="emergency-no-2" required>
    <br>
<button type="submit" class="btn btn-primary">SAVE</button>

</form>
<br>
<br>
{% endblock %}